}

.coin-card {
      background: #f5fefe;
      border: 1px solid #d9f4f0;
      border-radius: 12px;
      padding: 10px 14px;
      margin-bottom: 10px;
      font-size: 0.97rem;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
    background: #f5fefe;
    border: 1px solid #d9f4f0;
    border-radius: 12px;
    padding: 10px 14px;
    margin-bottom: 10px;
    font-size: 0.92rem;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    white-space: pre-wrap;
}


.funb-search-wrapper {
display: flex;
justify-content: center;
